.pl-result {
  height: 265px;
  border: 1px solid $secondary-animation;
  display: flex;
  margin-bottom: 20px;

  &__image {
    width: 249px;

    .image {
      height: 182px;
      width: 100%;

      &-item {
        width: 49px;
        height: 40px;
        float: left;
        margin-right: 1px;
        margin-top: 1px;

        &:nth-child(5) {
          margin-right: 0;
        }

        &:nth-child(10) {
          margin-right: 0;
        }
      }
    }
  }

  &__detail {
    width: 48%;
    padding: 10px 15px;
    border-right: 1px solid $gray-border-color;

    &-name {
      height: 30px;
      width: 200px;
    }

    &-location {
      margin-top: 10px;

      span {
        display: inline-block;
        height: 20px;
        width: 100px;
        margin-right: 10px;
      }
    }

    &-star {
      margin-top: 5px;

      span {
        display: inline-block;
        height: 20px;
        margin-right: 10px;

        &:first-child {
          width: 50px;
        }

        &:last-child {
          width: 200px;
        }
      }
    }

    &-card {
      height: 20px;
      width: 250px;
    }

    &-discount {
      margin-top: 10px;
      height: 20px;
      width: 300px;
    }
  }

  &__price {
    width: calc(52% - 249px);
    padding: 10px 15px;

    &-score {
      text-align: right;

      span {
        width: 80px;
        height: 45px;
        display: inline-block;
      }
    }

    &-ribbon {
      text-align: right;
      margin-left: 20px;

      span {
        width: 150px;
        height: 20px;
        display: inline-block;
        margin-top: 5px;
      }
    }

    &-discount {
      text-align: right;

      span {
        width: 100px;
        height: 20px;
        display: inline-block;
        margin-top: 5px;
      }
    }

    .old-price {
      text-align: right;

      span {
        margin-top: 120px;
        width: 90px;
        height: 30px;
        display: inline-block;
      }
    }
  }
}

.animation {
  position: relative;
  background: $secondary-animation;
  overflow: hidden;

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(230, 230, 230, 0.4) 15%, rgba(0, 0, 0, 0));
    transform: translateX(-100%);
    animation: loading 1.5s infinite;
  }

  @keyframes loading {
    100% {
      transform: translateX(100%);
    }
  }
}