.hotel {
  &-wrapper {
    display: flex;
    margin-top: 20px;
  }

  &-slidebar {
    width: 25%;
  }

  &-content {
    width: 75%;
    padding-left: 20px;

    &__banner {
      height: 75px;
      background-image: url('../../assets/banner.png');
      background: cover;
    }
  }

  .no-result {
    padding: 15px 0;
    border-top: 1px solid $gray-border-color;
    border-bottom: 1px solid $gray-border-color;
    text-align: center;
    font-size: $font-medium-big;
  }

  .hide {
    visibility: hidden;
  }

  .show {
    visibility: visible;
  }
}