.hotel {
  &-wrapper {
    display: flex;
    margin-top: 20px;
  }

  &-slidebar {
    width: 25%;
  }

  &-content {
    width: 75%;
    padding-left: 20px;

    &__banner {
      height: 75px;
      background-image: url('../../assets/banner.png');
      background: cover;
    }
  }
}