.hotel {
  &-wrapper {
    display: flex;
    margin-top: 20px;
  }

  &-slidebar {
    width: 25%;
  }

  &-content {
    width: 75%;
    padding-left: 20px;

    &__banner {
      height: 75px;
      box-shadow: 0 2px 3px 0 rgba(112, 22, 22, .15);
      background-color: rgba(225, 45, 45, .08);
    }
  }

  .hidden {
    visibility: hidden;
  }

  .show {
    visibility: visible;
  }

  .btn-seemore {
    border-radius: 3px;
    margin-bottom: 10px;
  }
}