.filter-list {
  padding: 16px 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .15);
  background: #fff;

  .form-group {
    text-align: right;
    margin-bottom: 0;
  }

  &__input {
    display: inline-block;
    border-radius: 20px;
    background-image: url('../../../assets/search.png');
    background-repeat: no-repeat;
    background-position: 5%;
    padding-left: 50px;
    color: $gray-dark;
    border-color: $gray-background;
    font-size: $font-small;
  }


  &__content {}
}