.result-hotel {
  &__wrapper {
    margin-top: 30px;

    &-link {
      color: #3c3c3c;

      &:hover {
        color: #3c3c3c;
        text-decoration: none;
      }
    }
  }

  &__suggest {
    border-color: $blue-dark;
    background-color: $blue-dark;
    color: $white;
    border-radius: 6px 6px 0 0;
    font-size: 14px;
    padding: 5px 15px;
    display: inline-block;
  }

  &__thumnail-items {
    width: 49px;
    height: 40px;
    float: left;
    margin-right: 1px;
    margin-bottom: 1px;

    &:nth-child(5) {
      margin-right: 0;
    }

    &:nth-child(10) {
      margin-right: 0;
    }

    .item {
      width: 100%;
      height: 100%;
      background-size: cover;
    }
  }

  &__content {
    border: 1px solid $blue-dark;
    display: flex;
    margin-bottom: 20px;
  }

  &__image {
    width: 249px;

    img {
      height: 182px;
      width: 100%;
      margin-bottom: 1px;
    }
  }

  &__detail {
    width: 48%;
    padding: 20px;
    border-right: 1px solid $gray-border-color;

    &__top-money {
      span {
        font-size: 12px;
        padding: 3px 7px;
        background-color: $orange;
        border-radius: 2px;
        font-weight: 700;
        margin-bottom: 5px;
        display: inline-block;
        color: $white;
      }
    }

    &__name-hotel {
      font-size: 16px;
      line-height: 1;
      font-weight: 700;

      &:hover {
        color: $blue-light2;
        text-decoration: underline;
      }
    }

    &__location {
      font-size: 14px;

      &-badge {
        padding: 5px 10px;
        font-weight: 400;
        background: linear-gradient(90deg, $pink, $pink-light);
        margin-right: 6px;
        font-size: 12px;
        font-weight: 700;
      }

      &-apartment {
        font-size: 12px;
        font-weight: 700;

        &:hover {
          color: $blue-light;
        }
      }
    }

    &__stars {

      &-location {
        color: $blue-light;
        font-size: 12px;
        font-weight: 700;
        margin-left: 10px;

        &:hover {
          text-decoration: underline;
        }

        .fa-street-view {
          font-size: 14px;
        }
      }

      .fa-star {
        color: $pink;
        margin-right: 2px;
        font-size: 14px;
      }

      .fa-star-half-o {
        color: $pink;
        font-size: 14px;
      }
    }

    &__rate {
      margin-bottom: 5px;

      span {
        font-size: 12px;
        padding: 3px 7px;
        border: 1px solid;
        border-radius: 2px;
        font-weight: 700;
      }
    }

    &__service {
      margin-bottom: 5px;

      span {
        font-size: 12px;
        padding: 3px 7px;
        border: 1px solid $green;
        border-radius: 2px;
        font-weight: 700;
        margin-right: 5px;
        color: $green;
      }
    }

    &__price-difference {
      margin-bottom: 5px;

      span {
        font-size: 12px;
        padding: 3px 7px;
        border: 1px solid $green;
        border-radius: 2px;
        font-weight: 700;
        margin-right: 5px;
        color: $green;
      }
    }

    &__card {
      margin-bottom: 5px;
      font-size: 12px;
      font-weight: 700;

      .fa-credit-card {
        font-size: 16px;
        margin-right: 5px;
      }
    }

    &__guest-recommnended {
      margin-bottom: 5px;

      .fa-users {
        margin-right: 5px;
        font-size: 16px;
      }

      font-size: 12px;
      font-weight: 700;
      color: $violet-dark;
    }

    &__top-location {
      margin-bottom: 5px;

      span {
        font-size: 11px;
        padding: 3px 7px;
        border: 1px solid $violet-light;
        border-radius: 2px;
        font-weight: 700;
        color: $violet-light;
      }

    }

    &__selling {
      margin-bottom: 15px;

      span:last-child {
        color: $red-light;
        font-size: 13px;
      }

      &-badge {
        padding: 5px 10px;
        border-radius: 2px;
        font-weight: 400;
        background: $red-light;
        margin-right: 6px;
        font-size: 10px;
        font-weight: 700;
      }
    }

    &__discount {
      font-size: 12px;
      font-weight: 700;
      color: $green-dark;

      &-text {
        padding: 2px 16px 2px 8px;
        margin-right: 3px;
        border: 1px dashed $green-dark;
        border-right: none;
        background-color: $green-light;
        position: relative;

        &:after {
          display: inline-block;
          content: "";
          background-color: $white;
          height: 11px;
          width: 11px;
          position: absolute;
          top: 4px;
          border: 1px dashed $green-dark;
          right: -4px;
          border-right: none;
          border-top: none;
          transform: rotate(45deg) skew(15deg, 15deg);
        }
      }
    }
  }

  &__price {
    width: calc(52% - 249px);
    text-align: right;
    padding: 20px 10px 20px 0;

    &__review {
      display: flex;
      margin-bottom: 90px;

      &-text {
        width: 60%;

        span:first-child {
          font-size: 14px;
          line-height: 15px;
          display: inline-block;
          color: $gray-dark;
          font-weight: 600;
        }

        span:last-child {
          font-weight: 700;
          font-size: 12px;
          color: $gray;
        }
      }

      &-score {
        width: 40%;
        background-image: url('../../../assets/message-icon.png');
        position: relative;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        text-align: center;
        height: 50px;

        span {
          color: $white;
          font-weight: 700;
          font-size: 20px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%) translateX(-30%);
        }
      }
    }

    &__ribbon {
      background: $red-light;
      padding: 4px 6px;
      text-align: center;
      font-size: 12px;
      font-weight: 700;
      color: $white;
      border-radius: 2px;
      display: inline-block;
      margin-right: -20px;
      margin-bottom: 5px;
    }

    &__remain {
      background: $orange-light;
      padding: 4px 6px;
      color: $red-light;
      text-align: center;
      font-size: 12px;
      font-weight: 700;
      border-radius: 2px;
      display: inline-block;
      margin-right: -20px;
    }

    &__discount {
      background: $green-light;
      display: inline-block;
      width: 80%;
      font-size: 10px;
      line-height: 12px;
      font-weight: 700;
      text-align: center;
      margin-right: -20px;
      color: $green-dark;
      padding: 4px 10px;
      border-radius: 2px;
    }

    &__room-rate {
      margin-top: 10px;

      p {
        font-size: 10px;
        color: $gray-background;
        margin-bottom: 5px;
      }

      .old-price {
        color: $gray-background;
        font-size: 22px;
        line-height: 22px;
        font-weight: 700;
        position: relative;
        margin-bottom: 5px;

        &:after {
          content: "";
          position: absolute;
          right: 0;
          top: 50%;
          width: 50%;
          transform: rotate(-10deg);
          border-top: 1px solid $gray-background;
        }
      }

      .new-price {
        color: $dark;
        font-size: 22px;
        line-height: 22px;
        font-weight: 700;
        color: $red-light;
      }

      .no-room {
        color: $pink-dark;
        text-align: right;
        font-size: 13px;
      }
    }

    &__benefit {
      color: $green-dark;
      font-size: 11px;
      font-weight: 700;
    }
  }
}