//Color 
$white: #FFFFFF;
$dark:#000000;
$gray: #999;
$gray-dark: #333;
$gray-disable:#f7f7f7;
$gray-light: #EEE;
$gray-border-color:#dddfe2;
$gray-background:#737373;
$secondary: #4B4F56;
$blue-dark:#24457c;
$blue-light:#488BF8;
$blue-light2:#00adff;
$blue-light-hover:#75a8f9;
$violet:#704DFF;
$violet-dark:#8660c7;
$violet-light:#6d68f3;
$green:#32a923;
$green-dark:#28871c;
$green-light:#d8eed5;
$orange:#f05700;
$orange-light:#f9d8d8;
$pink:#ff567d;
$pink-light:#fe9a8b;
$pink-dark:#ff274f;
$red-light:#e12d2d;