//Color
$white: #FFFFFF;
$dark:#000000;
$gray: #999;
$gray-dark: #333;
$gray-disable:#f7f7f7;
$gray-light: #EEE;
$gray-light-bg:#f4f8fe;
$gray-border-color:#dddfe2;
$gray-background:#737373;
$gray-map:#d7d7db;
$secondary: #4B4F56;
$secondary-dark:#3c3c3c;
$secondary-bg:#f3f9f2;
$secondary-border:#e8e8e8;
$blue:#5392f9;
$blue-dark:#24457c;
$blue-light:#488BF8;
$blue-light-boder:#53b7ff;
$blue-light2:#00adff;
$blue-light-hover:#75a8f9;
$violet:#704DFF;
$violet-dark:#8660c7;
$violet-light:#6d68f3;
$green:#32a923;
$green-dark:#28871c;
$green-light:#d8eed5;
$orange:#f05700;
$orange-light:#f9d8d8;
$pink:#ff567d;
$pink-light:#fe9a8b;
$pink-dark:#ff274f;
$red-light:#e12d2d;

//font-weight
$font-weight-bold:700;
$font-weight-medium:400;

//font-size
$font-tiny:10px;
$font-small:12px;
$font-medium-small:13px;
$font-medium:14px;
$font-medium-big:16px;
$font-icon:18px;