.search-list {
  margin: 15px 0;

  .form-group {
    text-align: right;
  }

  &__input {
    width: 25%;
    display: inline-block;
    border-radius: 20px;
    background-image: url('../../../assets/search.png');
    background-repeat: no-repeat;
    background-position: 5%;
    padding-left: 50px;
    color: #2a2a2e;
    border-color: #737373;
    font-size: 12px;
  }
}