.tab-hotel {
  margin-top: 30px;

  &__default {
    &-item {
      text-align: center;

      &:first-child {
        margin-left: 10px;
      }
    }

    &-link {
      width: 220px;
      padding: 15px 20px;
      font-size: 15px;
      font-weight: 700;
      color: #2a2a2e;

      &.nav-link {
        border-radius: 0;

        &:hover {
          color: #75a8f9;
          border-color: transparent;
        }
      }

      .nav-tabs &.active {
        border-top: 5px solid #5392f9;
        background: #fff;
        color: #5392f9;
        border-left: 1px solid #dddfe2;
        border-right: 1px solid #5392f9;
      }
    }
  }
}