.footer {
  padding: 50px 0 10px 0;
  background:$gray-dark;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  &-coppyright {
    text-align: center;
    color: $gray;

    p {
      font-size: 13px;
      margin-bottom: 0;
    }
  }

  &-brands {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    margin-bottom: 50px;
  }

  &-code {
    text-align: center;
    font-size: 13px;
    color: $gray;

    p {
      margin-bottom: 0;
    }
  }
}
