.availability {
  padding: 10px 20px 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__text {
    &-heading {
      font-weight: 700;
      font-size: 18px;
      margin-bottom: 5px;
      color: $red-light;
    }

    &-description {
      margin-bottom: 0;
      font-size: 14px;
      font-weight: 400;
      color: $gray-dark;
    }
  }

  &__countdown {
    text-align: center;

    &-title {
      font-size: $font-small;
      margin-bottom: 2px;
    }

    .countdown {
      display: flex;

      .item {
        margin-right: 40px;

        &:last-child {
          margin-right: 0;
        }

        p {
          margin-bottom: 0;
          font-size: 13px;
        }

        &-number {
          background-color: $white;
          border-radius: 2px;
          color: $pink-dark;
          padding: 0 5px;
        }

        &-text {
          color: $pink-dark;
        }
      }
    }
  }
}