.sort-list {
  height: 50px;
  border: 1px solid $gray-border-color;
  margin-bottom: 10px;
  margin-top: 30px;

  &__default {
    border-bottom: none;

    &-item {
      cursor: pointer;
      width: 25%;
      border-right: 1px solid $gray-border-color;

      &:first-child {
        background-color: $gray-disable;
        padding: 15px 10px;
        border: none;
        font-size: $font-small;
        color: $gray-background;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        border-right: 1px solid $gray-border-color;
        cursor: default;
      }

      &:last-child {
        border-right: none;
      }
    }

    &-link.nav-link {
      padding: 15px 10px;
      border: none;
      font-size: $font-small;
      color: $gray-background;
      font-weight: $font-weight-bold;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      text-transform: uppercase;

      &:hover {
        border: none;
        color: $blue-light !important;
      }
    }

    & .nav-link.active {
      border: none;
      color: $white;
      background-color: $blue-light;

      &:hover {
        color: $white !important;
      }
    }
  }
}